web:
  port: 9988
  ip: "127.0.0.1"
  debug: false
  run_mode: ""
log:
  info:
    filename: "./storage/logs/info.log"
  error:
    filename: "./storage/logs/error.log"
aes:
  key: "tk3lxWfTln4/adPAaA8/ao6QsRP+Z1kYHSDcOsBFU94="
  iv: "xjbM7kGZk1SJ1qykvw6ZPg=="
web_auth_url: "https://platformapi.hndata.cc"
oss_url: "http://file-service.hnlanzhong.com"
cron: false
storage:
  upload: "./storage/uploads"
  download: "./storage/downloads"
redis:
  host: "127.0.0.1"
  port: 6379
  password:
  db: 0
mysql:
  mysql:
    user: ""
    port: 3306
    password: ""
    host: "127.0.0.1"
    database: "gorm"
  mysql_read_list:
    - user: "dev"
      port: 3306
      password: ""
      host: "127.0.0.1"
      database: "gorm"
